/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero1 {
    width: 100%;
    height: 90vh;
    background: url("https://images.thrillophilia.com/image/upload/s--M8wgBP1d--/c_fill,g_auto,h_600,q_auto,w_975/f_auto,fl_strip_profile/v1/images/photos/000/087/663/original/1586501376_Two-Hours.jpg.jpg?1586501375") top left;
    background-size: cover;
    position: relative;
}

#hero1:before {
    content: "";
    background: rgba(255, 255, 255, 0);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero1 .container {
    position: relative;
}

#hero1 h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

#hero1 h1 span {
    color: #106eea;
}

#hero1 h2 {
    color: #555555;
    margin: 5px 0 30px 0;
    font-size: 24px;
    font-weight: 400;
}

#hero1 .btn-get-started {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #106eea;
}

#hero1 .btn-get-started:hover {
    background: #247cf0;
}

#hero1 .btn-watch-video {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
    color: #222222;
    font-weight: 600;
    display: flex;
    align-items: center;
}

#hero1 .btn-watch-video i {
    color: #106eea;
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
}

#hero1 .btn-watch-video:hover {
    color: #106eea;
}

#hero1 .btn-watch-video:hover i {
    color: #3b8af2;
}

@media (min-width: 1024px) {
    #hero1 {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero1 {
        height: 100vh;
    }

    #hero1 h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero1 h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    #hero1 .btn-get-started,
    #hero1 .btn-watch-video {
        font-size: 13px;
    }
}

@media (max-height: 500px) {
    #hero1 {
        height: 120vh;
    }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 30px 0;
    overflow: hidden;
}
.row{
    margin-top:40px;
}


.section-bg {
    background-color: #99b9f1;
}

.section-title1 {
    text-align: center;
    padding-bottom: 0px;
}

.section-title1 h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    /*  padding: 8px 20px;*/
    margin: 0;
    text-align: left;
    align-items: left;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}

.section-title1 h3 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
}

.section-title1 h3 span {
    color: #106eea;
}

.section-title1 p {
    margin: 15px auto 0 auto;
    font-weight: 600;
}

.row .icon-box .h1tag {
    
    text-align: left;
    font-size:30px;
}
.icon {
    width: 350px;
    height: 220px;
  }
.row .icon-box .cartype {
    margin-top:10px;
font-size:20px;
text-align: left;
}

.row .icon-box .economy{
    font-size:15px;
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.col-lg-4:hover .h1tag,
  .col-lg-4:hover .towardsright {
    color: blue;
  }
.icon-box .p {
    text-align: left;
}
.icon-box{
    margin-left: 40%;
}


.towardsright {
    text-align: right;
}

@media (min-width: 512px) {
    .section-title1 p {
        width: 30%;
    }
}

.feel {
    text-align: center;
}

.col-lg-6 .h3,
p {
    text-align: center;
}



/*slider card-----------------*/

.frame-131,
.frame-131 * {
  box-sizing: border-box;
}
.frame-131 {
    margin-left: 400px;
  background: #ffffff;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 572px;
  height: 362px;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.ellipse-19 {
  border-radius: 50%;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 53px;
  top: 242px;
  object-fit: contain;
}
.ellipse-20 {
  background: #ffffff;
  border-radius: 50%;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 156px;
  top: 242px;
}
.image-59 {
  width: 33px;
  height: 33px;
  position: absolute;
  left: 164px;
  top: 251px;
}
._4-seats {
  color: #000000;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 31px;
  top: 308px;
  width: 72px;
  height: 54px;
}
._2-bags {
  color: #000000;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 148px;
  top: 308px;
}
.frame-140 {
  width: 254px;
  height: 150px;
  position: absolute;
  left: 290px;
  top: 100px;
  overflow: hidden;
}
.toyota-innova {
  color: #000000;
  text-align: left;
  font: 600 36px "Outfit", sans-serif;
  position: absolute;
  left: 270px;
  top: 266px;
}
.row-container {
    display: flex;
    justify-content: space-between;
  }
  
  .ec {
    flex: 1;
    text-align: left;
  }
  .st{
    margin-right:30px;
    font-size:24px;
    color:#000000;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
  }
  .pr{
    color: #555555;
    padding-left: 90px;
  }
.ec{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

color: #000000;
}
.carousel-control-prev,
  .carousel-control-next {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #581f1f;
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.15s ease;
    top: calc(50% - 25px);
  }
  .section-title1 .frame-131:hover .text-bold,
  .section-title1 .frame-131:hover .toyota-innova,
  .section-title1 .frame-131:hover .text-grey {
    color: blue;
    font-weight: bold;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-image: none;
    color: #5723c5;
  }

  .carousel-control-prev-icon::before,
  .carousel-control-next-icon::before {
    content: '<';
    font-size: 2rem;
    line-height: 2;
  }

  .carousel-control-next-icon::before {
    content: '>';
  }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    background: linear-gradient(#ffffff, #ffffff);
}

.wrapper {
    max-width: 1250px;
    width: 100%;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.carouselExample{
    margin-left:1px;
}

/*arrows positions*/
.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

/*card flex box ;ayout */
.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 2) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 50px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

/*
.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.carousel .card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
}


.card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

.car-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1%;
    margin-right: 5%;
    margin-left: 5%;
}

.car-details {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

.car-sli {
    align-items: flex-end;
    height: 200px;
    width: 250px;
    justify-content: flex-end;

}

.right {
    width: 250px;
    height: 170px;
    margin-left: 20px;
}

.h2 {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

.fa-solid .fa-person-seat {
    margin-right: 10px;
}


/*.card img {
    /* Adjust the size and positioning of the image */
/* width: 100px;
    height: 100px;
    margin-left: auto;
    /* Pushes the image to the right */
/*}